.myNavbar {
	background-color: #87CEEB;
}

.navText {
	color:white !important;
}

.products {
	color:
}

.container {
	background-color:#E9ECEF;
	border: 2px solid #87CEEB;
	border-top:none;
}

.image {
	transition: transform .2s;
}

.image:hover {
	transform: scale(1.2);
}
