.myNavbar {
	background-color: #87CEEB;
}

.navText {
	color:white !important;
}

.products {
	color:
}

.container {
	background-color:#E9ECEF;
	border: 2px solid #87CEEB;
	border-top:none;
}

.invalid {
    outline: 1px solid red;
    color: red;
}
.invalid-text{
    text-color: red;
    color: red;
}

.signUp:hover{
    cursor:pointer;
}

.image {
	transition: transform .2s;
	z-index: -1;
}

.image:hover {
	transform: scale(1.2);
	z-index:-1;
}
