.image {
	transition: transform .2s;
}

.image:hover {
	transform: scale(1.2);
}

/*Popup menu*/
.form-popup {
	background: rgb(255, 255, 255);
	display: none;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
	float: left;
}

/*Container details*/
.form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}

/*Input fields*/
.form-container input[type=text], .form-container input[type=password] {
	width: 200px;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

/*Input focus*/
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

/*Buttons*/
.form-container .btn {
	background-color: #04AA6D;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}
