<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Arasaka - Basket</title>
    <link rel="icon" type="image/x-icon" href="/dna-solid.svg">
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/407709a987.js" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styling.css}">
    <link rel="stylesheet" th:href="@{/css/generalStyle.css}">
    <script src="/js/navbar.js"></script>
    <script src="/js/checkout.js"></script>
</head>
<body onload="setUp(); closeCheckout();">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#87CEEB">
    <div class="container-fluid">
        <a class="navbar-brand navText" th:href="@{home}"><i class="fa-solid fa-dna"></i> Arasaka</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search Arasaka" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </span>
            </div> <!--If someone knows how to maybe make this smaller feel free to-->
            <ul class="navbar-nav" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link navText" th:href="@{catalogue}">Catalogue</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navText" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hello <span th:text="${session.user.username}"></span>
                    </a>
                    <ul style="z-index:10;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{catalogue}">Basket</a></li>
                        <li><a class="dropdown-item" th:href="@{history}">Order History</a></li>
                    </ul>
                </li>
                <li th:if="${session.loggedin == false}" class = "nav-item">
                    <div style = "min-width: 65px;">
                        <a class = "nav-link navText signUp" onclick = "openSIForm()">Sign in</a>
                    </div>
                </li>
                <li th:if="${session.loggedin == true}" class = "nav-item">
                    <div style = "min-width: 65px;">
                        <a href="logout" class="nav-link navText">LogOut</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class = "container shadow p-3 mb-5 bg-light rounded-3 position-fixed top-5 end-0" style = "max-width: 500px;" id = "loginBox">
    <div class = "form-popup"  id = "signIn">
        <form class = "form-container" method="POST" action="login" >
            <h3>Login</h3>

            <div class="form-floating mb-3">
                <input type = "email" th:name="email" th:classappend="${session.checkLogEmail} ? 'invalid': ''" class="form-control" style = "max-width: 500px;" id="floatingInput" placeholder="name@example.com">
                <label for = "floatingInput">Email address</label>
                <p class="invalid-text" th:if="${session.checkLogEmail}">Incorrect Email</p>
            </div>
            <div class="form-floating mb-3">
                <input type = "password" th:name="password" th:classappend="${session.checkLogPassword} ? 'invalid': ''" class="form-control" style = " max-width: 500px;" id="floatingPassword" placeholder="Password">
                <label for = "floatingPassword">Password</label>
                <p class="invalid-text" th:if="${session.checkLogPassword}">Incorrect Password</p>
            </div>

            <button type="submit" class="btn btn-success">Login</button>
            <button type="button" class="btn cancel btn-warning" onclick="openSUForm()">Register</button>
            <button type="button" class="btn cancel btn-danger" onclick="closeForm()">Close</button>
        </form>
    </div>

    <div class = "form-popup" id = "signUp">
        <form class = "form-container" method="POST" action="register">
            <h3>Register</h3>
            <div class="form-floating mb-3">
                <input type = "text" name = "username" th:classappend="${session.checkValidUsername} ? 'invalid': ''" class="form-control" style = " max-width: 500px;" id="floatingUsername" placeholder="User Name">
                <label for="floatingInput">User Name</label>
                <p class="invalid-text" th:if="${session.checkValidUsername}">Wrong Username</p>
            </div>
            <div class="form-floating mb-3">
                <input type = "password" name = "password" th:classappend="${session.checkValidPassword} ? 'invalid': ''" class="form-control" style = " max-width: 500px;" id="floatingPassword1" placeholder="Password">
                <label for = "floatingPassword">Password</label>
                <p class="invalid-text" th:if="${session.checkValidPassword}">Wrong Password</p>
            </div>
            <div class="form-floating mb-3">
                <input type = "text" name="name" th:classappend="${session.checkValidName} ? 'invalid': ''" class="form-control" style = " max-width: 500px;" id="floatingName" placeholder="Name">
                <label for = "floatingInput">Name</label>
                <p class="invalid-text" th:if="${session.checkValidName}">Wrong Name</p>
            </div>
            <div class="form-floating mb-3">
                <input type = "email" name = "email" th:classappend="${session.checkValidEmail} ? 'invalid': ''" class="form-control" style = " max-width: 500px;" id="floatingEmail" placeholder="name@example.com">
                <label for= "floatingInput">Email address</label>
                <p class="invalid-text" th:if="${session.checkValidEmail}">Wrong Email</p>
            </div>
            <button type="submit" class="btn btn-success" >Register</button>
            <button type="button" class="btn cancel btn-warning" onclick="openSIForm()">Login</button>
            <button id="button" type="button" class="btn cancel btn-danger" onclick="closeForm()">Close</button>
        </form>
    </div>
</div>

<!--Setting up basic template for basket to be used with thymeleaf-->
<div class="container">
    <div class="row border">
        <div class="col-lg-9">
            <div class="row border" th:each="item: ${basket.basket}">
                <div class="col-lg-6">
                    <img th:src=${item.key.imagePath} alt="Ai" width=100%>
                </div>
                <div class="col-lg-6">
                    <h3 style="text-align:left;float:left;" class="text-start" th:text="${item.key.modelName}">Name</h3>
                    <h3 style="text-align:right;float:right" class="text-end" th:text="'€'+${item.key.price * item.value}">Price</h3>
                    <br><br>
                    <label style="color:grey;" for="qty" class="text">Qty</label>
                    <form style="display:inline;" method="POST"
                          th:action="@{basket/changeqty/{modelName}/{modelType}/{price}
                          (modelName=${item.key.modelName},
                          modelType=${item.key.modelType},
                          price=${item.key.price},
                          imagePath=${item.key.imagePath})}">
                        <input style="height:24px;" id="qty" type="number" th:value="${item.value}" name="newQuantity" min="1" max="20" onchange="this.form.submit()">
                    </form>
                    <form style="display:inline;" method="POST"
                          th:action="@{basket/changetype/{modelName}/{modelType}/{price}
                          (modelName=${item.key.modelName},
                          modelType=${item.key.modelType},
                          price=${item.key.price},
                          imagePath=${item.key.imagePath})}">
                        <select id="modelType" onchange="this.form.submit()"  name="newType">
                            <option th:if="${item.key.modelType == 'trained'}" th:value="trained">Trained</option>
                            <option th:if="${item.key.modelType == 'trained'}" th:value="untrained">Untrained</option>
                            <option th:if="${item.key.modelType == 'untrained'}" th:value="untrained">Untrained</option>
                            <option th:if="${item.key.modelType == 'untrained'}" th:value="trained">Trained</option>
                        </select>
                    </form>
                    <br>
                    <form method="POST"
                          th:action="@{basket/delete/{modelName}/{modelType}/{price}
                          (modelName=${item.key.modelName},
                          modelType=${item.key.modelType},
                          price=${item.key.price},
                          imagePath=${item.key.imagePath})}">
                        <button  style="height:24px;font-size:12px" type="submit" th:value="${item.key}" data-inline="true">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <div style="border-left: 1px solid black" class="col-lg-3 text-center">
            <div style="z-index:1" class="sticky-top">
                <h4 th:text="'Subtotal (' + ${basket.totalItems()} + ' items): €' + ${basket.totalPrice()}">Subtotal</h4>
                <a href="#"><button class="btn btn-warning" onclick="openCheckout()">Checkout</button></a>
                <h5>More items</h5>
                <div>
                    <img width="100%" height="100%" src="/pictures/ultron.jpg" alt="ultron">
                </div>
                <div class = "container p-3 mb-5 bg-light rounded-3 position-absolute" style = "max-width: 500px; z-index: 10;" id="checkoutBox">
                    <div class="form-popup" id="enterCheckoutDetails">
                        <form class = "form-container">
                            <h3>Checkout</h3>
                            <div class="form-floating mb-3">
                                <input type="text" name="cardHolderName" class="form-control" id="cardHolderName">
                                <label for="cardHolderName">Card Holder Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="cardNumber" minlength="16" maxlength="19" class="form-control" id="cardNumber">
                                <label for="cardNumber">Card Number</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="cvv" minlength="3" maxlength="3" class="form-control" id="cvv">
                                <label for="cvv">cvv</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="address" class="form-control" id="address">
                                <label for="address">Payment Address</label>
                            </div>
                            <button type="submit" class="btn btn-success" th:onclick="receipt([[${basket.totalPrice()}]])">Submit</button>
                            <button type="button" class="btn cancel btn-danger" onclick="closeCheckout()">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border">
        <div class="col-lg-9">
            <h4 style="text-align:right;float:right;" th:text="'Subtotal (' + ${basket.totalItems()} + ' items):  €' + ${basket.totalPrice()}">Subtotal</h4>
        </div>
    </div>
</div>
<script th:inline="javascript">
 function receipt(total) {
    console.log("The function is called");
    var name = document.getElementById('cardHolderName');
    var paymentaddress = document.getElementById('address');
    var date = new Date();
    let day = date.getDate();
    let month = date.getMonth();
    let year = date.getYear();

    let data =
        '----====Arasaka Order Receipt====----\r\n ' +
        'Name: ' + name.value + ' \r\n ' +
        'Total: €' + total + '.00 \r\n ' +
        'Payment Address: ' + paymentaddress.value + ' \r\n ' +
        'Date: ' + day + '-' + month + '-' + year + ' \r\n' +
        '----=============================----';

    var textToBLOB = new Blob([data], { type: 'text/plain' });
    var newReceipt = 'Arasaka_Order_Receipt.txt';

    let downloadLink = document.createElement("a");
    downloadLink.download = newReceipt;

    if (window.webkitURL != null) {
        downloadLink.href = window.webkitURL.createObjectURL(textToBLOB);
    }
    else {
        downloadLink.href = window.URL.createObjectURL(textToBLOB);
        downloadLink.style.display = "none";
        document.body.appendChild(downloadLink);
    }
    // LIWIA LOOK HERE: THIS FINAL LINE IS WHERE IT PERFORMS THE DOWNLOAD, don't do this or don't call the function at all if the details are invalid
    downloadLink.click();
 }
</script>
</body>
</html>