<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>owner page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/ownerProductStyle.css}">
  </head>
  <body>
    
    <img th:src="${aiModelPicPath}" class="img-fluid" alt="...">


<form method="POST" th:action="@{/aimarket/catalogue/product/{name}/available (name=${name})}">
  <button type="submit" class="anybutton" id="sp">Show Product</button>
</form>
<form method="POST" th:action="@{/aimarket/catalogue/product/{name}/unavailable (name=${name})}">
  <button type="submit" class="anybutton"id="hp">Hide product</button>
</form>
<button type="button" class="open-button" onclick="openForm()" id="cp">change price</button>
<button type="button" class="anybutton" id="cd">change description</button>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
    </script>
  </body>
</html>